<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="~{fragments/base :: head(title='Login')}">
    <title>hai</title></head>
<body class="d-flex flex-column min-vh-100">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Login</h3>
                </div>
                <div class="card-body">
                    <div th:if="${success}" class="alert alert-success" th:text="${success}">
                    </div>
                    <div th:if="${param.error}" class="alert alert-danger">
                        Username atau password salah
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        Anda telah berhasil logout
                    </div>
                    <div th:if="${error}" class="alert alert-danger" th:text="${error}">

                    </div>
                    <form th:action="@{/auth/login}" th:object="${loginForm}" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" th:field="*{username}" id="username" required>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" th:field="*{password}" id="password" required>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>

                    <div class="text-center mt-3">
                        <p>Belum punya akun? <a th:href="@{/}">Register di sini</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/base :: footer}"></footer>
</body>
</html>